beautifulsoup4==4.8.0
Pillow==7.0.0
-e git+https://github.com/mitocw/latex2dnd.git@master#egg=latex2dnd-master
lxml
path.py==5.1
pep8==1.5.7
# -e git+https://github.com/tiarno/plastex@python2#egg=plasTeX-master
-e git+https://github.com/tiarno/plastex#egg=plasTeX-master
pyyaml==5.3
